

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 3em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}

.box1{
  height: 20px;
  width: 60px;
  background-color: #9fe2c6;
  border-radius: 10%;
  margin-left: 10px;
  display: inline-block;
}

.box2{
  height: 20px;
  width: 60px;
  background-color:#eba74e;
  border-radius: 10%;
  margin-left: 10px;
  display: inline-block;
}

.box3{
  height: 20px;
  width: 60px;
  background-color:black;
  border-radius: 10%;
  margin-left: 10px;
  display: inline-block;
}

.box4{
  height: 20px;
  width: 60px;
  background-color:#07380b;
  border-radius: 10%;
  margin-left: 10px;
  display: inline-block;
}

header {
  padding: 1em;
  text-align: center;
  color: #9fe2c6;
  background-color: #9fe2c6;
}

h1, h2{
  color: #07380b;
  font-family: 'Josefin Sans', sans-serif;;
}

h3{
  color: black;
  font-family: 'Poppins', sans-serif;
}

hr {
  height: 5px;
  margin: 35px 0;
  background: #eba74e;
}

p {
  font-family: 'Poppins', sans-serif;
  color: black;
}

