
:root{
  --hov: dodgerblue;
  --back1: rgb(188, 231, 234);
  --back2: rgb(247, 199, 199);
  --shadow: rgba(148, 148, 184, 0.2);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

li{
  list-style-type: none;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
}

.link{
  margin-left: 10px;
  text-decoration: underline;
}

.link:hover{
  color: var(--hov);
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.darkButton{
  border: none;
  transition: 0.7s ease;
}

.darkButton:hover{
  color: var(--hov);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

header {
  display: flex;
  margin: 2% 1%;
  background: var(--back1);
  color: black;
  text-align: center;
  }


img{
  width: 15%;
  height: 50%;
  margin-left: 20px;
  margin-right: 20%;
  box-shadow: 5px 5px 1px 0.5px var(--shadow);
  
}

.main{
  display: none;
  margin: auto;
  width: 100%;
}

.temple{
  width: 100%;
  height: auto;
}

.main-title{
  font-size: 130%;
  text-align: center;
}

.card1{ 
  text-align: center;
  padding: 20px;
}

.card2{
  text-align: center;
  padding: 20px;
}

.card3{
  display: grid;
  text-align: center;  
  margin-bottom: 30px;
}

#weather-icon{
  margin: auto auto;
  width: 20%;
  height: auto;
}

.map{
  margin-top: 70px;
}

ul{
  list-style-type: none; 
  text-align: left;
}

footer {
  
  background: var(--back1);
  padding: 1rem;
  text-align: center;
  margin: 2% 1%;
}

h3{
  background-color: var(--back2);
  box-shadow: 5px 5px 1px 0.5px var(--shadow);
  padding: 5px;
  margin-bottom: 15px;
}

.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  display: none;
}

.nav-item{
  margin: 20px;
}

.nav-menu.active{
  display: contents;
  justify-content: space-between;
}


#formmessage {
	display: none;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgb(188, 231, 234);
	color: black;
	padding: 0.5rem;
  margin-left: 50px;
}

.contact {
	margin: auto auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 600px;
	background-color: #eee;
}

hr {
  height: 1px;
  margin: 10px 0;
  background: black;
}

form {
	display: grid;
	grid-gap: 0.35rem;
	grid-template-columns: 1fr 1fr;
	width: 425px;
	align-items: center;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
}

label, input, textarea, select, button {
	padding: 0.35rem;
}

label {
	text-align: right;
}

input:focus, textarea:focus, select:focus {
	background-color: var(--back1);
}

#formmessage, button {
	grid-column: 1/3;
}

button:hover{
  background-color: var(--back1);
}

button{
  margin-left: 215px;
}

.ratevalue{
  margin-left: 13px;
}

#table{
  display: none;
  margin: 20px auto;
	padding: 0.5rem;
	width: 300px;
	border-collapse: collapse;
}

tr:first-child th {
	background-color: var(--back1);
}

th, td {
	padding: 7px 15px;
	border: 1px solid black;
}

th {
	background-color: #eee;
	font-size: larger;
}

td {
	text-align: center;
}

#weatherCard{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

#weather-icon{
  grid-column: 2/3;
  width: 30%;
}
