

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


header{
    display: block;
    padding: 15px;
    background-color: #9fe2c6;
    font-family: 'Josefin Sans', sans-serif;
}

.logo{
  width: 200px
}

.social{
  display: flex;
}

.facelogo {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 5px;
}

.instalogo {
  width: 20px;
  height: 20px;
}

li{
    list-style-type: none;
    margin-bottom: 15px;
  }
  
  .navbar{
    display: block;
  }
  
  
  .nav-link{
    transition: 0.7s ease;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
  }
  
  .nav-link:hover{
    color: #eba74e;
  }
  
  .darkButton{
    border: none;
    transition: 0.7s ease;
  }
  
  .darkButton:hover{
    color: #eba74e;
  }
  
  .hamburger{
    display: block;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu{
    display: none;
  }
  
  .nav-item{
    margin: 20px;
  }
  
  .nav-menu.active{
    display: contents;
    justify-content: space-between;
  }

  
  #hero-img{
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/4;
}


main{
  display: block;
}

  .join{
    background-color: #9fe2c6;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    box-shadow: 6px 6px 10px #3d3d3b;
    
}
  
#events, #weather{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #cbf0e1;
  padding: 20px;
  border-radius: 15px;
  margin: 5px 5px;
} 

#events{
  margin-top: 30px;
}

h2{
  color: #100f0e;
}

hr {
  height: 2px;
  margin: -15px 0;
  background: #eba74e;
}

.insidebox{
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  height: 190px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#spotlights{
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  
}

.card1{
  grid-column: 1/2;
  background-color: #cbf0e1;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 10px;
  box-shadow: 6px 6px 10px #3d3d3b;
}

.card2{
  grid-column: 2/3;
  background-color: #cbf0e1;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 10px;
  box-shadow: 6px 6px 10px #3d3d3b;
}

.card3{
  grid-column: 3/4;
  background-color: #cbf0e1;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 10px;
  box-shadow: 6px 6px 10px #3d3d3b;
}



footer {
  background: #9fe2c6;
  padding: 0.5rem;
  text-align: center;
  margin: 2% 1%;
  font-family: 'Josefin Sans', sans-serif;
}