
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

li{
  list-style-type: none;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
}

.link{
  margin-left: 10px;
  text-decoration: underline;
}

.link:hover{
  color: dodgerblue;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.darkButton{
  border: none;
  transition: 0.7s ease;
  background-color: "yellow";
}

.darkButton:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

header {
  display: flex;
  margin: 2% 1%;
  background: rgb(188, 231, 234);
  color: black;
  font-family: 'Trebuchet MS';
  text-align: center;
  }


img{
  width: 15%;
  height: 50%;
  margin-left: 20px;
  margin-right: 20%;
  box-shadow: 5px 5px 1px 0.5px rgba(148, 148, 184, 0.2);
  
}

.main{
  display: none;
  margin: auto;
  width: 100%;
}

.temple{
  width: 100%;
  height: auto;
}

.main-title{
  font-size: 130%;
  text-align: center;
}

.card1{ 
  text-align: center;
  padding: 20px;
}

.card2{
  text-align: center;
  padding: 20px;
}

.card3{
  text-align: center;
  
}

.map{
  margin: auto auto;
}

ul{
  list-style-type: none; 
  text-align: left;
}

footer {
  
  background: rgb(188, 231, 234);
  padding: 1rem;
  text-align: center;
  margin: 2% 1%;
}

h3{
  background-color: rgb(247, 199, 199);
  box-shadow: 5px 5px 1px 0.5px rgba(148, 148, 184, 0.2);
  padding: 5px;
  margin-bottom: 15px;
}

.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  display: none;
}

.nav-item{
  margin: 20px;
}

.nav-menu.active{
  display: contents;
  justify-content: space-between;
}


